# macOS
.DS_Store

# VSCode
.vscode/

# logs
*.log

# backups
*.zip

# archivos temporales
tmp/
cache/

# configs privadas
.env

# uploads futuras
uploads/

# sql opcionales pesados
full_fixture.sqlconfig/db.php
